

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

footer {
	margin-top: 100%;
}

header { 
	
}

nav {
	position: fixed;
	background-color: whitesmoke;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	padding: 10px;
	font-size: 2rem;
}

.container {
	display: flex;
}

#navbutton {
	
}
