

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
	cursor: context-menu;
}

body{
	//background: linear-gradient(-45deg, #0d2d62, #00853e);
	background: #F8F8FF;
	//background: #00853e;
	text-align: center; 
}

header {
	position: sticky; 
	top: 0;
}

footer {
	position: fixed; 
	float: right; 
	bottom: 0;
	right: 0;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

email {
	color: #00853e;
	font-weight: bold;
	cursor: pointer; 
}

form {

	border: 1px solid black;
	background-color: #f2f2f2;
	padding: 10px 10px;
}

label {
	margin: 10px 10px;
}

input[type=text] {
	width: 90%;
	padding: 5px 5px; 
	border-radius: 4px;
	margin: 10px 10px;
	display: block;
}

input[type=submit] {
	color: white; 
	background-color: #00853e;
	padding: 5px 5px; 
	margin: 5px 10px;
	border-radius: 4px;
	border: 1px solid black;
}

textarea{
	padding: 5px 5px; 
	margin: 10px 10px;
	height: 300px;
	width: 600px; 
}

.navButton {
	background: #00853e;
	border-bottom: 4px solid black;
	border-right: 1px solid black;
	padding: 10px 20px; 
	float: left; 
	width: 25%;
	font-size: 2rem; 
	color: white; 
	display: block;    
	cursor: pointer; 
	z-index: 999; 
}

.navButton:hover{
	font-weight: bold; 
}

.contact {
	float: left; 
	text-align: left; 
	position: relative;
	top: 50px; 
	left: 10%;
}

#contact-me-overlay{
	font-size: 1.5rem;
	padding: 20px 30px;
	border: 1px solid black; 
	color: white; 
	cursor: pointer; 
	background-color: #00853e;
	z-index: 0;
	display: fixed; 
}

#learn-more {
	color: #00853e;
	font-weight: bold;
	cursor: pointer; 
}

#about-me {
	position: relative; 
	display: block;
	text-align: left;
	top: 50px;
	left: 5%;
	width: 90%;
	z-index: -1;
}

#home {
	position: relative; 
	//display: absolute;
	text-align: left;
	top: 50px;
	left: 5%;
	width: 70%;
	z-index: -1;
}

#home p {
	//display: inline-block;
}

img {
	position: relative; 
	float: right; 
	width: 455px;
	height: 550px;
	bottom: 200px;
	right: 100px;
	z-index: -1;
}

#about-me-image {
	width: 455px;
	height: 550px;
	bottom: 203px;
	right: 4px;
	padding: 0px 0px;
	margin: 0px 0px;
}

#about-me p {
	width: 50%;
}



#skill-boxes {
	position: static; 
	display: block; 
	border: 1px solid black;
	//background-color: white; 
	background-color: #f2f2f2;
	text-align: center; 
	float: left; 
	top: 0; 
	width: 50%;
	padding: 0px 0px 20px 0px; 
	margin: 10px;
}

#skill-box {
	position: relative; 
	display: inline-grid; 
	border: 1px solid black; 
	background-color: #00853e; 
	color: white; 
	text-align: left; 
	line-height: 150%;
	top: 10px;
	width: 30%;
	padding: 5px 10px; 
	margin: 0px 10px; 
}

#skill-box-header{
	color: white; 
	font-size: 1.5rem;
}

@media only screen and (max-width: 1072px){
	.navButton {
		font-size: 1.5rem; 
	}

	#skill-box-header {
		font-size: 1.25rem;
	}

	#skill-box {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 720px){
	.navButton {
		font-size: 1rem; 
	}
}

@media only screen and (max-width: 1900px){
	#skill-boxes{
		width: 47%;
		padding: 0px 0px 20px 0px;
	}

	#skill-box-header {
		font-size: 1.75rem;
	}

	#skill-box {
		font-size: 1.50rem;
		display: block;
		width: 95%;
	}

	#home{
		display: block;
		position: relative;
		text-align: center; 
		width: 90%;
	}

	#home h3 {
		float: none;
	}

	#home p {
		text-align: left; 
		//width: 80%;
	}

	body img {
		padding: 0px;
		margin: 0px;
		text-align: center; 
		right: 0;
		bottom: 0;
	}

	img {
	position: relative; 
	top: 100px;
	float: none; 
	}

	#about-me {
		position: relative; 
		text-align: center; 
	}

	#about-me h3 {
		//text-align: left; 
		float: none;
	}

	#about-me p {
		text-align: left; 
		width: 100%;
	}

	#about-me-image {
	position: relative; 
	width: 455px;
	height: 550px;
	top: 0px;
	//bottom: 0px;
	right: 4px;
	padding: 0px 0px;
	margin: 20px 0px;
	}

	footer {
		position: absolute;  
		text-align: center; 
		float: none; 
		bottom: 0;
		left: 0;
	}

	#contact-me-overlay {
		position: static;  
		text-align: center; 
		display: block;
		width: 100%;
	}
}